<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student management</title>
</head>

<body class="d-flex flex-column min-vh-100">
    <main class="flex-grow-1">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/">Student Management</a>
                <ul class="navbar-nav ms-auto d-flex flex-row gap-3">
                    <li class="nav-item">
                        <a class="nav-link nav" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/add_student">Add Student</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/view_students">View Students</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/search_student">Search Student</a>
                    </li>


                </ul>
            </div>
        </nav>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="hero-section">
            <div class="container mt-3 mb-2 p-2">
                <h3 class="text-primary text-center"> Student Management System</h3>
                <p class="text-muted text-center">
                    Manage Student Records Efficiently <br>
                <p><i class="bi bi-speedometer2"></i>Dashboard</p>
                </p>
            </div>


            <div class="container mt-5">
                <div class="row justify-content-center">

                    <div class="col-md-4">
                        <div class="card shadow-lg rounded-3">
                            <div class="card-body p-5">
                                <h3 class="card-title text-center"><i class="bi bi-people me-1"></i>Registered Students
                                </h3>
                                <h1 class="card-text text-center st_count">{{ total_students }}</h1>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card shadow-lg rounded-3">
                            <div class="card-body p-5">
                                <h3 class="card-title text-center"><i class="bi bi-people me-1"></i>Total courses</h3>
                                <h1 class="card-text text-center st_count">{{ total_count }}</h1>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="card shadow-lg rounded-3">
                            <div class="card-body p-5">
                                <h3 class="card-title text-center"><i class="bi bi-person me-1"></i>Average age</h3>
                                <h1 class="card-text text-center st_count">{{ avg_age }}</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card shadow-lg rounded-3 col-md-12 mt-5">

                    <div class="card-body">
                        <h3 class="text-dark  mt-4 ">Recent Student Records</h3>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover">

                                <tr class="table-secondary">
                                    <th class="text-primary">ID</th>
                                    <th class="text-primary">Name</th>
                                    <th class="text-primary">Age</th>
                                    <th class="text-primary">Course</th>
                                </tr>

                                {% for student in recent_students %}
                                <tr class="table-light">
                                    <td>{{ student[0] }}</td>
                                    <td>{{ student[1] }}</td>
                                    <td>{{ student[2] }}</td>
                                    <td>{{ student[3] }}</td>
                                </tr>
                                {% endfor %}

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </main>
</body>
<footer class="bg-dark text-white text-center py-3 mt-5">
    Student Management System © 2026 | Developed by Nuved Khan
</footer>


</html>